{% extends 'struct.html' %}

{% block title %}
About server
{% endblock %}

{% block content %}


<div class="static">
    <div class="heading">
        <h3 class="title mt mb">About server</h3>
    </div>
    <div class="static__content">
        <div class="ww__alert alert">
            <div class="alert__pic alert__pic_mr">
                <img src="{{template}}/images/icons/alerts/danger.svg" alt="i" class="alert__img" />
            </div>
            <div class="alert__content">
                The website is under construction! <br/>
                To view the full details of the project, you can check the <a href="https://discord.gg/S9j2YTuvjw" target="_blank">Discord Channel</a>.
            </div>
        </div>

    </div>
</div>
{% endblock %}