

<section class="content__about about">
    <div class="heading">
        <h3 class="title mt mb">{{ phrase_array({ 'ru': 'Server Ember', 'en': 'Server Ember', }) }} <span class="color-orange">x3</span></h3>
    </div>
    <div class="about__desc">
        <div class="headline__desc headline__desc_limit">
            {{ phrase_array({

            'ru':
            'The server offers a retail atmosphere with NPC buffs, low rates, and a bug-free environment. The auto-hunt feature transforms your game adventure by allowing you to easily accomplish challenges while managing the demands of a busy life.
            - Our network architecture supports up to 5,000 simultaneous connections without impacting gameplay quality.
            - The augmentation system follows the guidelines of the official server.
            - Geodata operates smoothly and without issues.
            - The game's data, which includes monster spawns, loot availability, and player skills, is working correctly.
            - We are actively working on official-like quests and refining the game.
            - Our AI is adequate and corresponds to the PTS.
            - Sieges are similar to the official server, without any lag or glitches.
            - The Olympiad is fully functional and may be customized to the preferences of the players.<br>',

            'en':
            'The server offers a retail atmosphere with NPC buffs, low rates, and a bug-free environment. The auto-hunt feature transforms your game adventure by allowing you to easily accomplish challenges while managing the demands of a busy life.
              - Our network architecture supports up to 5,000 simultaneous connections without impacting gameplay quality.
              - The augmentation system follows the guidelines of the official server.
              - Geodata operates smoothly and without issues.
              - The game's data, which includes monster spawns, loot availability, and player skills, is working correctly.
              - We are actively working on official-like quests and refining the game.
              - Our AI is adequate and corresponds to the PTS.
              - Sieges are similar to the official server, without any lag or glitches.
              - The Olympiad is fully functional and may be customized to the preferences of the players.<br>',

            })|raw }}
        </div>
        <div class="about__rates rates">
            <div class="rate">
                <div class="rate__ico">
                    <img src="{{template}}/images/about/ico__exp.jpg" alt="sp / xp">
                </div>
                <div class="rate__title">
                    sp / xp
                </div>
                <div class="rate__lvl">
                    x3
                </div>
            </div>
            <!-- Конец   rate -->

            <div class="about__rate rate">
                <div class="rate__ico">
                    <img src="{{template}}/images/about/ico__adena.jpg" alt="Adena">
                </div>
                <div class="rate__title">
                    Adena
                </div>
                <div class="rate__lvl">
                    x2
                </div>
            </div>
            <!-- Конец   rate -->

            <div class="about__rate rate">
                <div class="rate__ico">
                    <img src="{{template}}/images/about/ico__drop.jpg" alt="Drop">
                </div>
                <div class="rate__title">
                    Drop
                </div>
                <div class="rate__lvl">
                    x2
                </div>
            </div>
            <!-- Конец   rate -->

            <div class="about__rate rate">
                <div class="rate__ico">
                    <img src="{{template}}/images/about/ico__spoil-festival.jpg" alt="Spoil">
                </div>
                <div class="rate__title">
                    Spoil
                </div>
                <div class="rate__lvl">
                    x2
                </div>
            </div>
            <!-- Конец   rate -->

            <div class="about__rate rate">
                <div class="rate__ico">
                    <img src="{{template}}/images/about/ico__soul-bow.jpg" alt="Raid Boss">
                </div>
                <div class="rate__title">
                    Raid Boss
                </div>
                <div class="rate__lvl">
                    x2
                </div>
            </div>
            <!-- Конец   rate -->

            <div class="about__rate rate">
                <div class="rate__ico">
                    <img src="{{template}}/images/about/ico__valakas.jpg" alt="Epic boss">
                </div>
                <div class="rate__title">
                    Epic boss
                </div>
                <div class="rate__lvl">
                    x1
                </div>
            </div>
            <!-- Конец   rate -->
        </div>
    </div>
    <!-- Сюда тоже можно добавить текст! -->
</section>