<!-- files START -->
<div style="display: none">
    <div class="ww ww_animated" id="files">
        <div class="ww__close" data-fancybox-close></div>
        <div class="ww__inner">
            <div class="ww__body">
                <div class="ww__head">
                    <div class="title title_mb_small">
                        Connecting to <span class="color-orange">the server</span>
                    </div>
                    <div class="desc">
                        To connect to the server, you need to download and install the game client.
                    </div>
                </div>
                <div class="ww__content">
                    <div class="m-heading mt mb">
                        <div class="m-heading__title">
                            1. Download and extract the ready-to-play game client
                        </div>
                    </div>

                    <div class="files">
                        <div class="files__list">
                            <div class="files__item mb">
                                <div class="files__content">
                                    <div class="files__title">L2Ember Interlude</div>
                                    <div class="files__desc">Size: 3.3 GB</div>
                                </div>
                                <div class="files__btn lbtn" data-tip>
                                    Download
                                    <div class="download-list" data-tip-content>
                                        <a href="https://drive.google.com/file/d/1Lj2qnrQ6hxXO9HBPcCvyzX09sWOgpx7P/view?usp=sharing" class="dlink">
                                            <div class="dlink__img">
                                                <img src="{{template}}/images/files/ico__google-drive.png" alt="Google Drive" />
                                            </div>
                                            <div class="dlink__tx">Google Drive</div>
                                        </a>
                                        <a href="https://1drv.ms/u/s!Av6bbm-J0dexnvZPLtLG9aTIqITrLQ?e=owwrab" class="dlink">
                                            <div class="dlink__img">
                                                <img src="{{template}}/images/files/ico__yandex-disk.png" alt="OneDrive" />
                                            </div>
                                            <div class="dlink__tx">OneDrive</div>
                                        </a>
                                        <a href="https://mega.nz/file/97dRwQaC#x7Om-VwOO0R7oOucnPFV9bP8vrs7YPKtAvHwX5Wo3fE" class="dlink">
                                            <div class="dlink__img">
                                                <img src="{{template}}/images/files/ico__rg-host.png" alt="Mega" />
                                            </div>
                                            <div class="dlink__tx">Mega</div>
                                        </a>
                                   <!--  <a href="#" class="dlink">
                                            <div class="dlink__img">
                                                <img src="{{template}}/images/files/ico__utorrent.png" alt="Torrent" />
                                            </div>
                                            <div class="dlink__tx">Torrent</div>
                                        </a>
                                        <a href="#" class="dlink">
                                            <div class="dlink__img">
                                                <img src="{{template}}/images/files/ico__site.png" alt="Direct" />
                                            </div>
                                            <div class="dlink__tx">Direct</div>
                                        </a> -->   

                                    </div>
                                    <!-- END download-list -->
                                </div>
                            </div>


                            <div class="files__item mb">
                                <div class="files__content">
                                    <div class="files__title">L2Ember Updater [Optional]</div>
                                    <div class="files__desc">Size: 4 MB</div>
                                </div>
                                <div class="files__btn lbtn" data-tip>
                                    Download
                                    <div class="download-list" data-tip-content>
                                        <a href="https://drive.google.com/file/d/1xlc-M4mI5_v0k165jHGyu2YFpCUrbAFE/view?usp=sharing" class="dlink">
                                            <div class="dlink__img">
                                                <img src="{{template}}/images/files/ico__google-drive.png" alt="Google Drive" />
                                            </div>
                                            <div class="dlink__tx">Google Drive</div>
                                        </a>
                                        <a href="https://1drv.ms/u/s!Av6bbm-J0dexm_pPH1wdUYKrCtV73g?e=oILZ0l" class="dlink">
                                            <div class="dlink__img">
                                                <img src="{{template}}/images/files/ico__yandex-disk.png" alt="OneDrive" />
                                            </div>
                                            <div class="dlink__tx">OneDrive</div>
                                        </a>
                                        <a href="https://mega.nz/file/Fz9FgAoK#ufcnNuIPXv28VQ-YIIMxGCtoSFyXviRPZjYaBvaOZzQ" class="dlink">
                                            <div class="dlink__img">
                                                <img src="{{template}}/images/files/ico__rg-host.png" alt="Mega" />
                                            </div>
                                            <div class="dlink__tx">Mega</div>
                                        </a>
                                    <!--  <a href="#" class="dlink">
                                            <div class="dlink__img">
                                                <img src="{{template}}/images/files/ico__utorrent.png" alt="Torrent" />
                                            </div>
                                            <div class="dlink__tx">Torrent</div>
                                        </a>
                                        <a href="#" class="dlink">
                                            <div class="dlink__img">
                                                <img src="{{template}}/images/files/ico__site.png" alt="Direct" />
                                            </div>
                                            <div class="dlink__tx">Direct</div>
                                        </a> -->   
                                    </div>
                                    <!-- END download-list -->
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="ww__alert alert">
                        <div class="alert__pic alert__pic_mr">
                            <img src="{{template}}/images/icons/alerts/danger.svg" alt="i" class="alert__img" />
                        </div>
                        <div class="alert__content">
                            NOTE! <br />
                            The updater is included in the game client link. Don't forget to update your game on a regular basis.
                        </div>
                    </div>

                    <div class="m-heading mt mb">
                        <div class="m-heading__title">2. Create account</div>
                    </div>
                    <div class="ww__btns">
                        <a href="/signup" class="btn">
                            <div class="btn__content">Registration</div>
                        </a>
                    </div>
                </div>
            </div>
            <!-- END  ww__body -->
        </div>
        <!-- END  ww__inner -->
    </div>
    <!-- END  ww -->
</div>
<!-- files END -->