<div class="scl">
	<a href="https://t.me/l2ember" target="_blank" target="_blank" class="scl__item">
		<span class="gwi gwi_paper-plane"></span>
	</a>
	<a href="https://www.facebook.com/people/L2Ember/61556278353907/" target="_blank" class="scl__item">
		<span class="gwi gwi_facebook"></span>
	</a>
	<a href="https://discord.gg/S9j2YTuvjw" target="_blank" class="scl__item">
		<span class="gwi gwi_discord"></span>
	</a>
	<a href="https://join.skype.com/invite/DrDM04la3rQV" target="_blank" class="scl__item">
		<span class="gwi gwi_skype"></span>
	</a>
</div>
